<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.oauth2.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="io.github.oauth2.entity.UserRoleDO">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByQuery" resultMap="BaseResultMap" parameterType="io.github.oauth2.query.UserRoleQuery">
        select
        id, user_id, role_id
        from user_role
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
        </where>
    </select>

</mapper>